<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>STOCK_TRACE</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<filter>
		<filter-name>resourceFilter</filter-name>
		<filter-class>com.bocom.jump.bp.channel.http.ResourceFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>resourceFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>

	<servlet>
		<servlet-name>jump-Http</servlet-name>
		<servlet-class>com.bocom.jump.bp.channel.http.MainServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
			classpath:/config/**/st-*.xml,
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>StockBabySitter</servlet-name>
		<servlet-class>
			com.grandia.st.frame.STOCKBabySitter
		</servlet-class>		
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>jump-Http</servlet-name>
		<url-pattern>*.json</url-pattern>
	</servlet-mapping>

</web-app>
