<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="USER_HOME" value="/Users/grandia/work/stLog" /><!-- test -->
	<!-- <property name="USER_HOME" value="/app/stockapp/stLog" /> --><!-- aliyun -->
	<property name="LOG_FILE_NAME" value="stock_Trace_log" />
	<property name="logFileNamePattern" value="${LOG_FILE_NAME}_%d{yyyy-MM-dd}_%i" />
	<property name="fileLayoutPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{25}:%L %msg%n" />
	<property name="consoleLayoutPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level  %msg%n" />
	<!-- value="%-20(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{80} - %msg%n" /> -->

	<!-- contextName could use in pattern, like '%contextName' -->
	<contextName>STOCK_TRACE</contextName>
	<timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss" />

	<appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<append>true</append>
		<file>${USER_HOME}/${LOG_FILE_NAME}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${USER_HOME}/%d{yyyy-MM-dd}/${LOG_FILE_NAME}_%d{yyyy-MM-dd}_%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>30MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>500</maxHistory>
		</rollingPolicy>
		<layout>
			<pattern>${fileLayoutPattern}</pattern>
		</layout>
	</appender>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<layout name="StandardFormat" class="ch.qos.logback.classic.PatternLayout">
			<pattern>${consoleLayoutPattern}</pattern>
		</layout>
	</appender>

	<logger name="org.springframework.ws.client" level="TRACE" additivity="false">
		<appender-ref ref="ROLLING" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="org.springframework.ws.server" level="TRACE" additivity="false">
		<appender-ref ref="ROLLING" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="org.springframework" level="TRACE" additivity="false">
		<appender-ref ref="ROLLING" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="com.bocom.webservice" level="TRACE" additivity="false">
		<appender-ref ref="ROLLING" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="com.bocom.jump.bp.transform.util.TraceListener" level="TRACE" additivity="false">
		<appender-ref ref="ROLLING" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<root level="debug">
		<appender-ref ref="ROLLING" />
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>